# Map germany

In [1]:
# import matplotlib.pyplot as plt
# import cartopy.crs as ccrs
# import cartopy.feature as cfeature
# import pandas as pd

# # # Crear el dataset a partir de la imagen
# # buses = pd.DataFrame({
# #     'x': [9.056326, 11.132877, 13.420363, 8.749966, 12.924769, 8.979173, 7.425627, 7.407383, 6.917756, 13.399063, 11.935272, 9.698857, 11.486402],
# #     'y': [48.698691, 49.020224, 52.587492, 52.282211, 53.96037, 52.695031, 51.404921, 49.92631, 49.404465, 51.157059, 51.855145, 53.798895, 50.799502],
# #     'name': ['DE0 1', 'DE0 2', 'DE0 4', 'DE0 7', 'DE0 8', 'DE0 9', 'DE0 A', 'DE0 B', 'DE0 C', 'DE0 D', 'DE0 E', 'DE0 F', 'DE0 G']
# # })

# buses = pd.DataFrame()
# buses["name"] = n.buses.index.tolist()
# buses["x"] = n.buses.x.to_list()
# buses["y"] = n.buses.y.to_list()

# # Crear figura y ejes con proyección geográfica
# fig, ax = plt.subplots(figsize=(8, 6), subplot_kw={'projection': ccrs.PlateCarree()})

# # Agregar fondo de mapa con bordes de países y costas
# ax.add_feature(cfeature.BORDERS, linestyle=':', edgecolor='black')
# ax.add_feature(cfeature.COASTLINE, edgecolor='black')
# ax.add_feature(cfeature.LAND, facecolor='lightgray')
# ax.add_feature(cfeature.OCEAN, facecolor='lightblue')
# ax.set_extent([5, 15, 47, 56], crs=ccrs.PlateCarree())  # Limitar el mapa a Alemania

# # Graficar buses
# ax.scatter(buses['x'], buses['y'], color='red', s=50, transform=ccrs.PlateCarree(), label="Buses")

# # Etiquetas
# for i, row in buses.iterrows():
#     ax.text(row['x'], row['y'], row['name'], fontsize=10, transform=ccrs.PlateCarree(), ha='right')

# ax.set_title("Mapa de Buses en Alemania")
# plt.legend()
# plt.show()

# Code

In [1]:
import os
import logging
import pandas as pd
import yaml
import pypsa
import warnings

import Model_Code.data_processing as dp
import Model_Code.base_functions as bf
import Model_Code.Myopic as mp
import Model_Code.plotting as pt
import Model_Code.H2_Ready as H2R

from Model_Code.Constraints import extra_functionality
warnings.filterwarnings("ignore")

logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)

ERROR 1: PROJ: proj_create_from_database: Open of /home/pguerra/anaconda3/envs/mypypsa1/share/proj failed

In [2]:
# Read config.yaml
with open(r'config.yaml', "r") as file:
    config = yaml.load(file, Loader=yaml.FullLoader)

opts = config['scenario_settings']['opts'][0].split('-')
solver_options = config['solving']['solver'].copy()
tmpdir = config['solving'].get('tmpdir')
colors=config['plotting']['tech_colors']

#extract scenario settings
scenario_settings = config.get("scenario_settings", {})
#print('enter clusters')
#clusters = int(input())    # default to 4 if not alligned with NUTS
clusters = 13
clusters = clusters if clusters in [4,13,37,194] else \
    scenario_settings.get("clusters")
regional_potential = scenario_settings.get("regional_potential")[clusters]
#demand_growth = scenario_settings.get("demand_growth", 1.0)
# Possibly more, e.g. co2_price or co2_limit,demand_growth (still not implemented)
logger.info("Using config-based scenario settings:")
logger.info(f" clusters={clusters}, regional_potential={regional_potential}")

# Construct a network path from the "Networks" folder
#    Example file: "Networks/elec_s_3_ec_lcopt_Co2L-1H-Ep-CCL.nc" if clusters=3
network_filename = f"Networks/elec_s_{clusters}_ec_lcopt_Co2L-1H-Ep-CCL.nc"
if not os.path.exists(network_filename):
    raise FileNotFoundError(f"Cannot find network file: {network_filename}")


# Load the PyPSA Network
n = pypsa.Network(network_filename)
#n.generators["p_nom_min"] = 0

INFO:pypsa.io:Imported network elec_s_13_ec_lcopt_Co2L-1H-Ep-CCL.nc has buses, carriers, generators, global_constraints, lines, links, loads, storage_units

In [4]:
n.generators.carrier.value_counts()

CCGT          13
OCGT          13
biomass       13
onwind        13
solar         13
ror           12
coal          10
oil            7
lignite        6
offwind-ac     3
offwind-dc     3
Name: carrier, dtype: int64

In [5]:
n.links.carrier.value_counts()

DC    4
Name: carrier, dtype: int64

In [6]:
n.loads_t.p_set

Load,DE0 1,DE0 2,DE0 4,DE0 7,DE0 8,DE0 9,DE0 A,DE0 B,DE0 C,DE0 D,DE0 E,DE0 F,DE0 G
snapshot,,,,,,,,,,,,,
2013-01-01 00:00:00,5614.752402,8085.696784,1939.085292,3469.759586,561.306055,4577.118930,6620.561036,1955.112825,438.516819,1350.521673,1095.824481,1598.340937,1310.985580
2013-01-01 01:00:00,5388.034134,7759.204174,1860.786904,3329.654052,538.641060,4392.299298,6353.229189,1876.167262,420.809934,1295.988915,1051.576150,1533.801477,1258.049251
2013-01-01 02:00:00,5172.659758,7449.047683,1786.406192,3196.558725,517.110112,4216.727151,6099.273342,1801.171754,403.989017,1244.184714,1009.541791,1472.491261,1207.761601
2013-01-01 03:00:00,5092.932886,7334.234551,1758.872083,3147.289753,509.139827,4151.734192,6005.264456,1773.410062,397.762282,1225.007935,993.981593,1449.795563,1189.146216
2013-01-01 04:00:00,5004.897813,7207.456938,1728.468691,3092.886546,500.338973,4079.968427,5901.459063,1742.755371,390.886670,1203.832776,976.799894,1424.734786,1168.590953
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-31 19:00:00,7344.937189,10577.302570,2536.614022,4538.965282,734.272400,5987.557178,8660.685545,2557.580437,573.645686,1766.684646,1433.502568,2090.869365,1714.965514
2013-12-31 20:00:00,7117.420056,10249.659529,2458.039742,4398.366071,711.527542,5802.086315,8392.411726,2478.356700,555.876409,1711.959736,1389.098322,2026.102493,1661.842658
2013-12-31 21:00:00,7151.931078,10299.358187,2469.958311,4419.692915,714.977604,5830.219532,8433.104941,2490.373782,558.571749,1720.260705,1395.833797,2035.926680,1669.900618
2013-12-31 22:00:00,6883.352196,9912.582912,2377.203133,4253.718696,688.127809,5611.275330,8116.413705,2396.851935,537.595515,1655.659174,1343.415579,1959.470838,1607.190277
2013-12-31 23:00:00,6817.914339,9818.347115,2354.603813,4213.279935,681.585995,5557.930707,8039.253521,2374.065820,532.484764,1639.919345,1330.644151,1940.842768,1591.911226

In [3]:
# Load the PyPSA Network
n = pypsa.Network(network_filename)
n.generators["p_nom_min"] = 0

# Create results folder(s)
# For example, strip the ".nc" from network file for one folder,
# and also create a folder named after the number of buses:
# name = network_filename[:-3]  # e.g. "Networks/elec_s_3_ec_lcopt_Co2L-1H-Ep-CCL"
# bf.createFolder(name)
name = "Networks/elec_s_3_ec_lcopt_Co2L-1H-Ep-CCL"

# bus_folder = 'Results/'+str(int(len(n.buses)))
# bf.createFolder(bus_folder)

# # Update renewable profiles, availability, etc.
# dp.update_rens_profiles(n, reference_year=2013, name=name)
# bf.update_availability_profiles(n, name)

INFO:pypsa.io:Imported network elec_s_13_ec_lcopt_Co2L-1H-Ep-CCL.nc has buses, carriers, generators, global_constraints, lines, links, loads, storage_units

In [9]:
def update_rens_profiles(n,reference_year,name):  

    """ Updates renewable energy profiles for solar and wind generators in the network.

    This function fetches data from the Renewables.ninja API for the specified year, storing the profiles 
    in 'gen_profiles.csv'. If the file exists, it updates missing generator profiles. The function includes 
    a delay between API requests to avoid rate limiting.

    Parameters:
    -----------
    n : Network
        The network object containing the generators.
    reference_year : int
        The year for which to fetch renewable energy data.
    name : str
        The directory path to save the 'gen_profiles.csv' file.

    Returns:
    --------
    None
    """
    
    token = '1cacc0c037ec8d41e4ed821bcd9d1ab673766aee'
    api_base = 'https://www.renewables.ninja/api/'
    
    s = requests.session()
    s.headers = {'Authorization': 'Token ' + token}
    
    if os.path.exists('{}/gen_profiles.csv'.format(name)):
        gen_profiles=pd.read_csv('{}/gen_profiles.csv'.format(name),index_col=0)
        gen_profiles.index =n.generators_t.p_max_pu.index
    else:
        gen_profiles= pd.DataFrame(index =n.generators_t.p_max_pu.index,
                                   columns=list(n.generators.index[(n.generators.carrier=='solar') |
                                                                   (n.generators.carrier=='onwind')]))
    args_wind = {
        'date_from': str(reference_year)+'-01-01',
        'date_to': str(reference_year)+'-12-31',
        'capacity': 1.0,
        'height': 101.5, # min:84, max:119, avg:101.5
        'turbine': 'Vestas V112 3000',
        'format': 'json'}
    args_solar = {
        'date_from': str(reference_year)+'-01-01',
        'date_to': str(reference_year)+'-12-31',
        'dataset': 'merra2',
        'capacity': 1.0,
        'system_loss': 0.1,
        'tracking': 0,
        'tilt': 35,
        'azim': 180,
        'format': 'json'
        }
    args = {'solar':args_solar, 'onwind':args_wind}
    urls= {'solar':'pv', 'onwind':'wind'}
    for tech in ['solar','onwind']:
        for i in n.generators.index[n.generators.carrier==tech]:
            if (i not in gen_profiles.columns) | (math.isnan(gen_profiles[i][0])):
                args[tech]['lat']=n.buses.loc[n.generators.loc[i,'bus'],'y']
                args[tech]['lon']=n.buses.loc[n.generators.loc[i,'bus'],'x']
                url = api_base + 'data/{}'.format(urls[tech])
                r = s.get(url, params=args[tech])
                parsed_response = json.loads(r.text)
                data = pd.read_json(json.dumps(parsed_response['data']), orient='index')
                resample_factor=int(8760/len(n.snapshots))
                gen_profiles[i]=data.electricity.resample('{}H'.format(resample_factor)).mean()
                gen_profiles.to_csv('{}/gen_profiles.csv'.format(name))
                time.sleep(15)

In [10]:
def update_availability_profiles(n,name):
    """
    Updates generator availability profiles using data from a CSV file.

    Parameters:
    -----------
    n : Network
        The network object to update.
    name : str
        The directory path containing the 'gen_profiles.csv' file.

    Returns:
    --------
    None
    """
    gen_profiles=pd.read_csv('{}/gen_profiles.csv'.format(name),index_col=0)
    for gen in gen_profiles.columns:
        logger.info("Correcting {} generation profile: {} CF instead of {}"
                    .format(gen,round(gen_profiles[gen].mean(),3),
                            round(n.generators_t.p_max_pu[gen].mean(),3)))
        n.generators_t.p_max_pu[gen]=gen_profiles[gen].values

In [11]:
name = "Networks/elec_s_3_ec_lcopt_Co2L-1H-Ep-CCL"
gen_profiles=pd.read_csv('/home/pguerra/Model_Split_v3/Networks/elec_s_13_ec_lcopt_Co2L-1H-Ep-CCL/gen_profiles.csv',index_col=0)
gen_profiles

,DE0 1 onwind,DE0 1 solar,DE0 2 onwind,DE0 2 solar,DE0 4 onwind,DE0 4 solar,DE0 7 onwind,DE0 7 solar,DE0 8 onwind,DE0 8 solar,...,DE0 C onwind,DE0 C solar,DE0 D onwind,DE0 D solar,DE0 E onwind,DE0 E solar,DE0 F onwind,DE0 F solar,DE0 G onwind,DE0 G solar
snapshot,,,,,,,,,,,,,,,,,,,,,
2013-01-01 00:00:00,0.508,0.0,0.400,0.0,0.591,0.0,0.463,0.0,0.768,0.0,...,0.479,0.0,0.616,0.0,0.549,0.0,0.893,0.0,0.594,0.0
2013-01-01 01:00:00,0.509,0.0,0.383,0.0,0.600,0.0,0.455,0.0,0.761,0.0,...,0.516,0.0,0.628,0.0,0.552,0.0,0.853,0.0,0.591,0.0
2013-01-01 02:00:00,0.513,0.0,0.374,0.0,0.606,0.0,0.468,0.0,0.754,0.0,...,0.543,0.0,0.637,0.0,0.545,0.0,0.808,0.0,0.600,0.0
2013-01-01 03:00:00,0.511,0.0,0.372,0.0,0.593,0.0,0.492,0.0,0.730,0.0,...,0.563,0.0,0.639,0.0,0.533,0.0,0.769,0.0,0.612,0.0
2013-01-01 04:00:00,0.505,0.0,0.387,0.0,0.577,0.0,0.506,0.0,0.707,0.0,...,0.609,0.0,0.637,0.0,0.536,0.0,0.733,0.0,0.628,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-31 19:00:00,0.361,0.0,0.222,0.0,0.314,0.0,0.366,0.0,0.390,0.0,...,0.412,0.0,0.365,0.0,0.400,0.0,0.624,0.0,0.348,0.0
2013-12-31 20:00:00,0.342,0.0,0.187,0.0,0.255,0.0,0.349,0.0,0.344,0.0,...,0.377,0.0,0.351,0.0,0.368,0.0,0.582,0.0,0.345,0.0
2013-12-31 21:00:00,0.330,0.0,0.165,0.0,0.212,0.0,0.323,0.0,0.352,0.0,...,0.360,0.0,0.344,0.0,0.324,0.0,0.540,0.0,0.344,0.0
2013-12-31 22:00:00,0.335,0.0,0.142,0.0,0.194,0.0,0.309,0.0,0.333,0.0,...,0.367,0.0,0.348,0.0,0.268,0.0,0.513,0.0,0.343,0.0
2013-12-31 23:00:00,0.376,0.0,0.109,0.0,0.195,0.0,0.284,0.0,0.350,0.0,...,0.371,0.0,0.363,0.0,0.245,0.0,0.496,0.0,0.380,0.0

In [12]:
n.generators_t.p_max_pu

Generator,DE0 1 onwind,DE0 1 ror,DE0 1 solar,DE0 2 onwind,DE0 2 ror,DE0 2 solar,DE0 4 onwind,DE0 4 ror,DE0 4 solar,DE0 7 onwind,...,DE0 E ror,DE0 E solar,DE0 F offwind-ac,DE0 F offwind-dc,DE0 F onwind,DE0 F ror,DE0 F solar,DE0 G onwind,DE0 G ror,DE0 G solar
snapshot,,,,,,,,,,,,,,,,,,,,,
2013-01-01 00:00:00,0.292079,0.840122,0.0,0.226119,0.840122,0.0,0.831170,0.840122,0.0,0.689216,...,0.840122,0.0,0.885500,0.801092,0.996022,0.840122,0.0,0.752372,0.840122,0.0
2013-01-01 01:00:00,0.277778,0.841015,0.0,0.217793,0.841015,0.0,0.804937,0.841015,0.0,0.688697,...,0.841015,0.0,0.885296,0.741052,0.993543,0.841015,0.0,0.790577,0.841015,0.0
2013-01-01 02:00:00,0.276878,0.842234,0.0,0.213140,0.842234,0.0,0.775983,0.842234,0.0,0.664808,...,0.842234,0.0,0.876822,0.648269,0.957117,0.842234,0.0,0.789038,0.842234,0.0
2013-01-01 03:00:00,0.328744,0.843261,0.0,0.220567,0.843261,0.0,0.781507,0.843261,0.0,0.696576,...,0.843261,0.0,0.869133,0.626918,0.931495,0.843261,0.0,0.784929,0.843261,0.0
2013-01-01 04:00:00,0.352065,0.844720,0.0,0.223366,0.844720,0.0,0.746016,0.844720,0.0,0.693689,...,0.844720,0.0,0.846998,0.542550,0.864469,0.844720,0.0,0.753949,0.844720,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-31 19:00:00,0.133344,0.819189,0.0,0.127172,0.819189,0.0,0.339777,0.819189,0.0,0.350164,...,0.819189,0.0,0.659751,0.885500,0.668547,0.819189,0.0,0.318510,0.819189,0.0
2013-12-31 20:00:00,0.121719,0.819306,0.0,0.118201,0.819306,0.0,0.318776,0.819306,0.0,0.348510,...,0.819306,0.0,0.694474,0.885500,0.701080,0.819306,0.0,0.344234,0.819306,0.0
2013-12-31 21:00:00,0.113141,0.819363,0.0,0.108492,0.819363,0.0,0.303500,0.819363,0.0,0.350767,...,0.819363,0.0,0.713921,0.885500,0.697771,0.819363,0.0,0.369410,0.819363,0.0
2013-12-31 22:00:00,0.132190,0.819363,0.0,0.122262,0.819363,0.0,0.384662,0.819363,0.0,0.352205,...,0.819363,0.0,0.761263,0.885486,0.723492,0.819363,0.0,0.433601,0.819363,0.0
2013-12-31 23:00:00,0.141245,0.819330,0.0,0.112687,0.819330,0.0,0.360166,0.819330,0.0,0.340899,...,0.819330,0.0,0.728190,0.881519,0.677381,0.819330,0.0,0.420120,0.819330,0.0

## Datasets

In [ ]:
# Read input data / CSVs from inside the
co2lims = pd.read_csv(os.path.join("data", "co2limits.csv"))
cost_factors = pd.read_csv(os.path.join("data", "Cost_Factor.csv"), index_col=0, header=0)
fuel_cost = pd.read_csv(os.path.join("data", "fuel_cost.csv"), index_col=0, header=0)
co2price = pd.read_csv(os.path.join("data", "co2_price.csv"), index_col=0)

In [ ]:
co2lims

    year     co2limit
0   2019  250000000.0
1   2020  221000000.0
2   2021  215000000.0
3   2022  209000000.0
4   2023  203000000.0
5   2024  197000000.0
6   2025  191000000.0
7   2026  185000000.0
8   2027  179000000.0
9   2028  173000000.0
10  2029  167000000.0
11  2030  161000000.0
12  2031  150420000.0
13  2032  139840000.0
14  2033  129260000.0
15  2034  118680000.0
16  2035  108100000.0
17  2036   97520000.0
18  2037   86940000.0
19  2038   76360000.0
20  2039   65780000.0
21  2040   55200000.0
22  2041   44160000.0
23  2042   33120000.0
24  2043   22080000.0
25  2044   11040000.0
26  2045          0.0
27  2046          0.0
28  2047          0.0
29  2048          0.0
30  2049          0.0
31  2050          0.0

In [ ]:
cost_factors #pareciera que es en porcentaje entonces va bajando el costo de las tecnologias con los anos.

,solar,onwind,offwind-ac,offwind-dc,battery,H2,electrolysis,fuel cell
year,,,,,,,,
2020,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2021,0.983618,0.987726,0.968284,0.968284,0.940018,0.972588,0.972588,0.972588
2022,0.983603,0.987847,0.970556,0.970556,0.942137,0.972347,0.972347,0.972347
2023,0.983586,0.987965,0.972582,0.972582,0.944052,0.972093,0.972093,0.972093
2024,0.983567,0.988081,0.974397,0.974397,0.945789,0.971823,0.971823,0.971823
2025,0.983546,0.988194,0.976030,0.976030,0.947368,0.971539,0.971539,0.971539
2026,0.983522,0.988305,0.977507,0.977507,0.948808,0.971238,0.971238,0.971238
2027,0.983496,0.988413,0.978846,0.978846,0.950124,0.970920,0.970920,0.970920
2028,0.983468,0.988519,0.980065,0.980065,0.951329,0.970584,0.970584,0.970584
2029,0.983437,0.988623,0.981178,0.981178,0.952434,0.970229,0.970229,0.970229
2030,0.983404,0.988725,0.982198,0.982198,0.953449,0.969854,0.969854,0.969854
2031,0.983369,0.988825,0.983135,0.983135,0.954382,0.969457,0.969457,0.969457
2032,0.983331,0.988923,0.983997,0.983997,0.955240,0.969039,0.969039,0.969039
2033,0.983291,0.989018,0.984793,0.984793,0.956029,0.968596,0.968596,0.968596
2034,0.983248,0.989112,0.985530,0.985530,0.956756,0.968127,0.968127,0.968127
2035,0.983203,0.989204,0.986213,0.986213,0.957425,0.967631,0.967631,0.967631
2036,0.983155,0.989295,0.986848,0.986848,0.958039,0.967106,0.967106,0.967106
2037,0.983104,0.989383,0.987439,0.987439,0.958604,0.966550,0.966550,0.966550
2038,0.983051,0.989470,0.987990,0.987990,0.959122,0.965960,0.965960,0.965960
2039,0.982995,0.989555,0.988505,0.988505,0.959596,0.965333,0.965333,0.965333
2040,0.982936,0.989639,0.988987,0.988987,0.960029,0.964668,0.964668,0.964668
2041,0.982875,0.989721,0.989439,0.989439,0.960423,0.963960,0.963960,0.963960
2042,0.982810,0.989802,0.989863,0.989863,0.960780,0.963206,0.963206,0.963206
2043,0.982743,0.989881,0.990261,0.990261,0.961101,0.962402,0.962402,0.962402
2044,0.982672,0.989959,0.990636,0.990636,0.961389,0.961544,0.961544,0.961544
2045,0.982599,0.990035,0.990989,0.990989,0.961645,0.960626,0.960626,0.960626
2046,0.982522,0.990110,0.991323,0.991323,0.961870,0.959643,0.959643,0.959643
2047,0.982442,0.990183,0.991638,0.991638,0.962065,0.958588,0.958588,0.958588
2048,0.982359,0.990256,0.991935,0.991935,0.962231,0.957454,0.957454,0.957454
2049,0.982273,0.990327,0.992217,0.992217,0.962368,0.956231,0.956231,0.956231
2050,0.982183,0.990397,0.992485,0.992485,0.962478,0.954911,0.954911,0.954911

In [ ]:
fuel_cost

        gas  biomass    coal  lignite    oil          H2
year
2019  31.50   26.380   8.730     3.20  46.40  172.845325
2020  31.50   26.380   8.730     3.20  46.40  172.845325
2021  32.34   26.528   8.864     3.24  48.98  168.323123
2022  33.18   26.676   8.998     3.28  51.56  163.800920
2023  34.02   26.824   9.132     3.32  54.14  159.278718
2024  34.86   26.972   9.266     3.36  56.72  154.756515
2025  35.70   27.120   9.400     3.40  59.30  150.234312
2026  36.52   27.268   9.540     3.44  61.90  145.712110
2027  37.34   27.416   9.680     3.48  64.50  141.189907
2028  38.16   27.564   9.820     3.52  67.10  136.667705
2029  38.98   27.712   9.960     3.56  69.70  132.145502
2030  39.80   27.860  10.100     3.60  72.30  127.623299
2031  40.26   28.114  10.160     3.62  73.14  126.084412
2032  40.72   28.368  10.220     3.64  73.98  124.545525
2033  41.18   28.622  10.280     3.66  74.82  123.006637
2034  41.64   28.876  10.340     3.68  75.66  121.467750
2035  42.10   29.130  10.400     3.70  76.50  119.928863
2036  42.56   29.384  10.460     3.72  77.34  118.389975
2037  43.02   29.638  10.520     3.74  78.18  116.851088
2038  43.48   29.892  10.580     3.76  79.02  115.312201
2039  43.94   30.146  10.640     3.78  79.86  113.773314
2040  44.40   30.400  10.700     3.80  80.70  112.234426
2041  44.84   30.654  10.780     3.82  81.54  111.149482
2042  45.28   30.908  10.860     3.84  82.38  110.064537
2043  45.72   31.162  10.940     3.86  83.22  108.979593
2044  46.16   31.416  11.020     3.88  84.06  107.894648
2045  46.60   31.670  11.100     3.90  84.90  106.809703
2046  47.06   31.924  11.160     3.92  85.72  105.724759
2047  47.52   32.178  11.220     3.94  86.54  104.639814
2048  47.98   32.432  11.280     3.96  87.36  103.554870
2049  48.44   32.686  11.340     3.98  88.18  102.469925
2050  48.90   32.940  11.400     4.00  89.00  101.384981
2051  49.36   33.194  11.460     4.02  89.82  101.384981

In [ ]:
co2price

      co2limit
year
2019         0
2020        75
2021        75
2022        75
2023        75
2024        75
2025        75
2026        75
2027        75
2028        75
2029        75
2030        75
2031        75
2032        75
2033        75
2034        75
2035        75
2036        75
2037        75
2038        75
2039        75
2040        75
2041        75
2042        75
2043        75
2044        75
2045        75
2046        75
2047        75
2048        75
2049        75
2050        75

## seguir

In [4]:
# Read input data / CSVs from inside the
co2lims = pd.read_csv(os.path.join("data", "co2limits.csv"))
cost_factors = pd.read_csv(os.path.join("data", "Cost_Factor.csv"), index_col=0, header=0)
fuel_cost = pd.read_csv(os.path.join("data", "fuel_cost.csv"), index_col=0, header=0)
co2price = pd.read_csv(os.path.join("data", "co2_price.csv"), index_col=0)

In [5]:
# Additional data to store scenario settings
agg_p_nom_minmax = pd.read_csv(config['scenario_settings']\
                                .get('agg_p_nom_limits'), index_col=1)  #limites por tecnologia
co2030 = (1 - (co2lims[co2lims.year == 2030].co2limit.values[0] / (460 * 10**6))) * 100
co2040 = (1 - (co2lims[co2lims.year == 2040].co2limit.values[0] / (460 * 10**6))) * 100
co2045 = (1 - (co2lims[co2lims.year == 2045].co2limit.values[0] / (460 * 10**6))) * 100
co2050 = (1 - (co2lims[co2lims.year == 2050].co2limit.values[0] / (460 * 10**6))) * 100

In [16]:
config['scenario_settings'].get('agg_p_nom_limits')

'data/agg_p_nom_minmax.csv'

In [6]:
agg_p_nom_minmax = pd.read_csv(config['scenario_settings']\
                                .get('agg_p_nom_limits'), index_col=1)
agg_p_nom_minmax

             country  min    max
carrier
onwind            DE  NaN  50000
offwind-ac        DE  NaN  50000
solar             DE  NaN  50000
offwind-dc        DE  NaN  50000
battery           DE  NaN  40000
CCGT              DE  NaN  10000
OCGT              DE  NaN  14600
electrolysis      DE  NaN  62000
cell              DE  NaN  85000
H2_input          DE  NaN   6000

In [18]:
co2030, co2040, co2045, co2050 #otros valores que el original

(65.0, 88.0, 100.0, 100.0)

In [7]:
var = [
    "regional potential",
    "CO2-reduction-2030",
    "CO2-reduction-2040",
    "CO2-reduction-2045",
    "CO2-reduction-2050",
]
var.extend(list(agg_p_nom_minmax.index))

var
val = [regional_potential, co2030, co2040, co2045, co2050]
val.extend(list(agg_p_nom_minmax['max']))

In [ ]:
var, val

(['regional potential',
  'CO2-reduction-2030',
  'CO2-reduction-2040',
  'CO2-reduction-2045',
  'CO2-reduction-2050',
  'onwind',
  'offwind-ac',
  'solar',
  'offwind-dc',
  'battery',
  'CCGT',
  'OCGT',
  'electrolysis',
  'cell',
  'H2_input'],
 [8000,
  65.0,
  88.0,
  100.0,
  100.0,
  50000,
  50000,
  50000,
  50000,
  40000,
  10000,
  14600,
  62000,
  85000,
  6000])

In [8]:
txt = pd.DataFrame({"val": val}, index=var)
txt

                        val
regional potential   8000.0
CO2-reduction-2030     65.0
CO2-reduction-2040     88.0
CO2-reduction-2045    100.0
CO2-reduction-2050    100.0
onwind              50000.0
offwind-ac          50000.0
solar               50000.0
offwind-dc          50000.0
battery             40000.0
CCGT                10000.0
OCGT                14600.0
electrolysis        62000.0
cell                85000.0
H2_input             6000.0

## Res Data

In [ ]:
def RES_data(n,name):
    """
    Corrects renewable energy sources (RES) data and updates the network.

    This function processes CSV files with German renewable power plant data, correcting and classifying
    technologies, and mapping plants to the nearest bus in the network. It handles offshore wind data
    separately, differentiating between AC and DC connections. The function generates and saves data
    on new plant additions and those scheduled for removal, focusing on the period between 1995 and 2018.

    Parameters:
    -----------
    n : Network
        The network object to be updated with the corrected RES data.
    
    name : str
        The directory path where the addition and removal data will be saved.

    Returns:
    --------
    tuple of pd.DataFrame
        Returns two DataFrames: one for the added capacities and one for the removed capacities.
    """
        
    data=pd.read_csv('data/renewable_power_plants_DE.csv')
    data=data[['commissioning_date','decommissioning_date','technology','electrical_capacity','lat','lon']]
    data.columns=['year_added','year_removed','carrier','p_nom','latitude','longitude']
    data.carrier=data.carrier.replace('Photovoltaics', 'solar')
    data.carrier=data.carrier.replace('Onshore', 'onwind')
    data.carrier=data.carrier.replace('Photovoltaics ground', 'solar')
    data.carrier=data.carrier.replace('Run-of-river', 'ror')
    data.carrier=data.carrier.replace('Sewage and landfill gas', 'biomass')
    data.carrier=data.carrier.replace('Biomass and biogas', 'biomass')
    data.drop(data[data.carrier == 'biomass' ].index, inplace=True)

    """
    Change Offshore data
    """
    a=data[data.carrier=='Offshore']
    vals=pd.DataFrame({'lat_vals':a.latitude.unique()})
    vals.drop(vals[np.isnan(vals.lat_vals) ==True].index, inplace=True)
    a.latitude[np.isnan(a.latitude)]=vals.mean()[0]
    
    vals=pd.DataFrame({'long_vals':a.longitude.unique()})
    vals.drop(vals[np.isnan(vals.long_vals) ==True].index, inplace=True)
    
    a.longitude[np.isnan(a.longitude)] = np.random.choice(vals.long_vals,
                size=len(a.longitude[np.isnan(a.longitude)]))
    j=0
    for i in a.index:
        if a.carrier[i] == 'Offshore':
            j=j+1
            if j % 2 ==0:
                a.carrier[i]=('offwind-ac')
            else:
                a.carrier[i]=('offwind-dc')
    
    for i in a.index:
        data.loc[i,'carrier']=a.loc[i,'carrier']
        data.loc[i,'latitude']=a.loc[i,'latitude']
        data.loc[i,'longitude']=a.loc[i,'longitude']

    """ """

    data.index=range(len(data))
    
    year_added=[]
    year_removed=[]
    for i in range(len(data)):
        year_added.append( int(data[data.columns[0]][i][:4]) )
        year_removed.append( int(data[data.columns[0]][i][:4]) +25)
    
    data.year_added=year_added
    data.year_removed=year_removed
    
    data.drop(data[data.year_added < 1995 ].index, inplace=True)
    data.drop(data[data.year_added > 2018].index, inplace=True)
    data.drop(data[data.carrier == 'Other fossil fuels' ].index, inplace=True)
    data.drop(data[data.carrier == 'Geothermal' ].index, inplace=True)
    data.drop(data[data.carrier == 'Storage' ].index, inplace=True)
    
    
    data.drop(data[np.isnan(data.longitude) ==True].index, inplace=True)
    data.drop(data[np.isnan(data.latitude) ==True].index, inplace=True)
    data.drop(data[np.isnan(data.p_nom) ==True].index, inplace=True)
    

    
    data.drop(data[data.carrier=='ror'].index, inplace=True)
    data.drop(data[np.isnan(data.longitude) ==True].index, inplace=True)
    data.drop(data[np.isnan(data.latitude) ==True].index, inplace=True)
    data.index=range(len(data))

    ### 2019 data
    df2=pd.read_csv('data/renewable_power_plants_DE_2019.csv')
    df2=df2[['commissioning_date','decommissioning_date','technology','electrical_capacity','lat','lon']]
    df2.columns=['year_added','year_removed','carrier','p_nom','latitude','longitude']
    df2.carrier=df2.carrier.replace('Photovoltaics', 'solar')
    df2.carrier=df2.carrier.replace('Onshore', 'onwind')
    df2.carrier=df2.carrier.replace('Photovoltaics ground', 'solar')
    df2.carrier=df2.carrier.replace('Run-of-river', 'ror')
    df2.carrier=df2.carrier.replace('Sewage and landfill gas', 'biomass')
    df2.carrier=df2.carrier.replace('Biomass and biogas', 'biomass')
    df2.drop(df2[df2.carrier == 'biomass' ].index, inplace=True)

    # Correct offiwnd
    a_19=df2[df2.carrier=='Offshore']
    vals=pd.DataFrame({'lat_vals':a.latitude.unique()})
    vals.drop(vals[np.isnan(vals.lat_vals) ==True].index, inplace=True)
    a_19.latitude[np.isnan(a_19.latitude)]=vals.mean()[0]
    
    vals=pd.DataFrame({'long_vals':a.longitude.unique()})
    vals.drop(vals[np.isnan(vals.long_vals) ==True].index, inplace=True)
    
    a_19.longitude[np.isnan(a_19.longitude)] = np.random.choice(vals.long_vals,
                size=len(a_19.longitude[np.isnan(a_19.longitude)]))
    j=0
    for i in a_19.index:
        if a_19.carrier[i] == 'Offshore':
            j=j+1
            if j % 2 ==0:
                a_19.carrier[i]=('offwind-ac')
            else:
                a_19.carrier[i]=('offwind-dc')
    
    for i in a_19.index:
        df2.loc[i,'carrier']=a_19.loc[i,'carrier']
        df2.loc[i,'latitude']=a_19.loc[i,'latitude']
        df2.loc[i,'longitude']=a_19.loc[i,'longitude']
        
    
    df2.drop(df2[np.isnan(df2.longitude) ==True].index, inplace=True)
    df2.drop(df2[np.isnan(df2.latitude) ==True].index, inplace=True)
    df2.drop(df2[np.isnan(df2.p_nom) ==True].index, inplace=True)
    df2.drop(df2[df2.carrier == 'ror' ].index, inplace=True)
    df2.drop(df2[df2.carrier == 'Geothermal' ].index, inplace=True)
    
    
    df2.index=range(len(df2))
    
    year_added=[]
    year_removed=[]
    for i in range(len(df2)):
        year_added.append( int(df2[df2.columns[0]][i][:4]) )
        year_removed.append( int(df2[df2.columns[0]][i][:4]) +25)

    df2.year_added=year_added
    df2.year_removed=year_removed    
    
    data=pd.concat([data,df2])
    data.index=range(len(data))
    
    
    """" Mapping """
    data['bus']=data.latitude*0
    a=n.buses[['x','y']]
    a['bus']=a.index
    a.index=range(len(a))
    a.y*=pi/180
    a.x*=pi/180
    data.longitude*=pi/180
    data.latitude*=pi/180
    """"""
    
    data['bus'] = ut.calculate_nearest_bus(data, a, n)
    
    addition=data[['carrier','p_nom','bus']]
    addition.index=addition.bus + ' ' + addition.carrier
    add=addition.set_index(['carrier','bus']).stack().reset_index()
    add.columns=['carrier','bus','remove','p_nom']
    add=add.groupby(['carrier','bus']).agg({'p_nom':['sum']})
    bus=[]
    carrier=[]
    idx=[]
    for i in add.index:
        carrier.append(i[0])
        bus.append(i[1])
        idx.append(i[1] + ' ' + i[0])
    
    add['carrier']=carrier
    add['bus']=bus
    add.index=idx
    add.columns=['p_nom','carrier','bus']
    add.to_csv('{}/res_basic_addition.csv'.format(name))
    
    #TODO : All in one, save time
    removal=data[['year_removed','carrier','p_nom','bus']]
    years_res=list(removal.year_removed.value_counts().index)
    years_res.sort()
    remove= pd.DataFrame(columns = removal.columns)    
    for i in years_res:
        dat=removal.loc[removal.year_removed == i]
    
        df = dat.groupby(['year_removed', 'bus','carrier']).sum().sum(
            level=['year_removed', 'bus','carrier']).unstack('year_removed').fillna(0).reset_index()
    
        df['year']=[df.columns[2][1]]*len(df)
        df.columns=['bus','carrier','p_nom','year_removed']
        remove= pd.concat([df, remove], ignore_index=False)
    
    remove.index= remove.bus + ' ' + remove.carrier
    remove.to_csv('{}/res_basic_removal.csv'.format(name))

    return add,remove

In [24]:
data=pd.read_csv('data/renewable_power_plants_DE.csv')
data=data[['commissioning_date','decommissioning_date','technology','electrical_capacity','lat','lon']]
# data.columns=['year_added','year_removed','carrier','p_nom','latitude','longitude']
# data.carrier=data.carrier.replace('Photovoltaics', 'solar')
# data.carrier=data.carrier.replace('Onshore', 'onwind')
# data.carrier=data.carrier.replace('Photovoltaics ground', 'solar')
# data.carrier=data.carrier.replace('Run-of-river', 'ror')
# data.carrier=data.carrier.replace('Sewage and landfill gas', 'biomass')
# data.carrier=data.carrier.replace('Biomass and biogas', 'biomass')
# data.drop(data[data.carrier == 'biomass' ].index, inplace=True)

In [25]:
data

,commissioning_date,decommissioning_date,technology,electrical_capacity,lat,lon
0,1901-01-01,NaN,Run-of-river,0.12000,47.846131,9.664273
1,1901-01-01,NaN,Run-of-river,0.05500,47.846131,9.664273
2,1901-07-01,NaN,Run-of-river,0.04400,49.355539,8.775571
3,1901-11-01,NaN,Run-of-river,0.08000,49.355539,8.775571
4,1904-01-01,NaN,Run-of-river,0.05000,49.162694,9.853297
...,...,...,...,...,...,...
1805907,2019-01-11,NaN,Photovoltaics,0.00672,50.681730,6.493388
1805908,2019-01-11,NaN,Photovoltaics,0.00930,48.218401,12.140532
1805909,2019-01-11,NaN,Photovoltaics,0.00679,51.912080,12.276554
1805910,2019-01-14,NaN,Photovoltaics,0.00990,48.701869,11.815692
1805911,2019-01-21,NaN,Photovoltaics,0.00576,52.247831,10.364983

In [29]:
data.technology.value_counts()

Photovoltaics              1753870
Onshore                      28238
Biomass and biogas           14326
Run-of-river                  7134
Offshore                      1305
Sewage and landfill gas        547
Photovoltaics ground           405
Other fossil fuels              75
Geothermal                      11
Storage                          1
Name: technology, dtype: int64

In [30]:
data.columns=['year_added','year_removed','carrier','p_nom','latitude','longitude']
data.carrier=data.carrier.replace('Photovoltaics', 'solar')
data.carrier=data.carrier.replace('Onshore', 'onwind')
data.carrier=data.carrier.replace('Photovoltaics ground', 'solar')
data.carrier=data.carrier.replace('Run-of-river', 'ror')
data.carrier=data.carrier.replace('Sewage and landfill gas', 'biomass')
data.carrier=data.carrier.replace('Biomass and biogas', 'biomass')
data.drop(data[data.carrier == 'biomass' ].index, inplace=True)
data

         year_added  year_removed carrier    p_nom   latitude  longitude
0        1901-01-01           NaN     ror  0.12000  47.846131   9.664273
1        1901-01-01           NaN     ror  0.05500  47.846131   9.664273
2        1901-07-01           NaN     ror  0.04400  49.355539   8.775571
3        1901-11-01           NaN     ror  0.08000  49.355539   8.775571
4        1904-01-01           NaN     ror  0.05000  49.162694   9.853297
...             ...           ...     ...      ...        ...        ...
1805907  2019-01-11           NaN   solar  0.00672  50.681730   6.493388
1805908  2019-01-11           NaN   solar  0.00930  48.218401  12.140532
1805909  2019-01-11           NaN   solar  0.00679  51.912080  12.276554
1805910  2019-01-14           NaN   solar  0.00990  48.701869  11.815692
1805911  2019-01-21           NaN   solar  0.00576  52.247831  10.364983

[1791039 rows x 6 columns]

In [ ]:
"""
Change Offshore data
"""
import numpy as np
#Sustituye los valores NaN en a.latitude con la media de los valores disponibles. lo mismo para longitud
# clasifica la mitad en ac y la otra en dc
#actualiza el dataset
#demora harto por los for, se podria usar vectorizacion de pandas y numpy

a=data[data.carrier=='Offshore']
vals=pd.DataFrame({'lat_vals':a.latitude.unique()})
vals.drop(vals[np.isnan(vals.lat_vals) ==True].index, inplace=True)
a.latitude[np.isnan(a.latitude)]=vals.mean()[0]

vals=pd.DataFrame({'long_vals':a.longitude.unique()})
vals.drop(vals[np.isnan(vals.long_vals) ==True].index, inplace=True)

a.longitude[np.isnan(a.longitude)] = np.random.choice(vals.long_vals,
            size=len(a.longitude[np.isnan(a.longitude)]))
j=0
for i in a.index:
    if a.carrier[i] == 'Offshore':
        j=j+1
        if j % 2 ==0:
            a.carrier[i]=('offwind-ac')
        else:
            a.carrier[i]=('offwind-dc')

for i in a.index:
    data.loc[i,'carrier']=a.loc[i,'carrier']
    data.loc[i,'latitude']=a.loc[i,'latitude']
    data.loc[i,'longitude']=a.loc[i,'longitude']

In [36]:
data

         year_added  year_removed carrier    p_nom   latitude  longitude
0        1901-01-01           NaN     ror  0.12000  47.846131   9.664273
1        1901-01-01           NaN     ror  0.05500  47.846131   9.664273
2        1901-07-01           NaN     ror  0.04400  49.355539   8.775571
3        1901-11-01           NaN     ror  0.08000  49.355539   8.775571
4        1904-01-01           NaN     ror  0.05000  49.162694   9.853297
...             ...           ...     ...      ...        ...        ...
1805907  2019-01-11           NaN   solar  0.00672  50.681730   6.493388
1805908  2019-01-11           NaN   solar  0.00930  48.218401  12.140532
1805909  2019-01-11           NaN   solar  0.00679  51.912080  12.276554
1805910  2019-01-14           NaN   solar  0.00990  48.701869  11.815692
1805911  2019-01-21           NaN   solar  0.00576  52.247831  10.364983

[1791039 rows x 6 columns]

In [37]:
data.index=range(len(data))

In [38]:
data

         year_added  year_removed carrier    p_nom   latitude  longitude
0        1901-01-01           NaN     ror  0.12000  47.846131   9.664273
1        1901-01-01           NaN     ror  0.05500  47.846131   9.664273
2        1901-07-01           NaN     ror  0.04400  49.355539   8.775571
3        1901-11-01           NaN     ror  0.08000  49.355539   8.775571
4        1904-01-01           NaN     ror  0.05000  49.162694   9.853297
...             ...           ...     ...      ...        ...        ...
1791034  2019-01-11           NaN   solar  0.00672  50.681730   6.493388
1791035  2019-01-11           NaN   solar  0.00930  48.218401  12.140532
1791036  2019-01-11           NaN   solar  0.00679  51.912080  12.276554
1791037  2019-01-14           NaN   solar  0.00990  48.701869  11.815692
1791038  2019-01-21           NaN   solar  0.00576  52.247831  10.364983

[1791039 rows x 6 columns]

In [39]:
i=5
int(data[data.columns[0]][i][:4])

1905

In [ ]:
year_added=[] #14.4 s
year_removed=[]
for i in range(len(data)):
    year_added.append( int(data[data.columns[0]][i][:4]) )
    year_removed.append( int(data[data.columns[0]][i][:4]) +25)

In [ ]:
# Resetear el índice  #0.3 s
data.reset_index(drop=True, inplace=True)

# Extraer los años de manera vectorizada
data['year_added'] = data.iloc[:, 0].str[:4].astype(int)
data['year_removed'] = data['year_added'] + 25

In [44]:
data.carrier.value_counts()

solar                 1754275
onwind                  28238
ror                      7134
offwind-dc                653
offwind-ac                652
Other fossil fuels         75
Geothermal                 11
Storage                     1
Name: carrier, dtype: int64

In [45]:
data.drop(data[data.year_added < 1995].index, inplace=True)
data.drop(data[data.year_added > 2018].index, inplace=True)

In [46]:
data

         year_added  year_removed carrier    p_nom   latitude  longitude
4626           1995          2020   solar  0.00129  49.277654   7.036675
4627           1995          2020     ror  0.01100  48.963994  10.881562
4628           1995          2020   solar  0.00880  52.651042  13.708159
4629           1995          2020     ror  0.02200  49.720897  10.825612
4630           1995          2020   solar  0.00260  50.742935  11.342881
...             ...           ...     ...      ...        ...        ...
1790720        2018          2043   solar  0.01220  51.217980   6.270472
1790721        2018          2043   solar  0.00180  53.650304  12.313511
1790722        2018          2043   solar  0.01980  49.522844  10.206178
1790723        2018          2043   solar  0.00976  52.293092  13.694022
1790724        2018          2043   solar  0.00704  48.681239   8.879750

[1786099 rows x 6 columns]

In [47]:
data.drop(data[data.carrier == 'Other fossil fuels'].index, inplace=True)
data.drop(data[data.carrier == 'Geothermal'].index, inplace=True)
data.drop(data[data.carrier == 'Storage'].index, inplace=True)

In [48]:
data.drop(data[np.isnan(data.longitude)].index, inplace=True)
data.drop(data[np.isnan(data.latitude)].index, inplace=True)
data.drop(data[np.isnan(data.p_nom)].index, inplace=True)

In [49]:
data.drop(data[data.carrier=='ror'].index, inplace=True)
data.drop(data[np.isnan(data.longitude) ==True].index, inplace=True)
data.drop(data[np.isnan(data.latitude) ==True].index, inplace=True)
data.index=range(len(data))
data

         year_added  year_removed carrier    p_nom   latitude  longitude
0              1995          2020   solar  0.00129  49.277654   7.036675
1              1995          2020   solar  0.00880  52.651042  13.708159
2              1995          2020   solar  0.00260  50.742935  11.342881
3              1995          2020  onwind  0.08000  53.127583  12.132579
4              1995          2020   solar  0.00396  48.793771   9.528908
...             ...           ...     ...      ...        ...        ...
1780229        2018          2043   solar  0.01220  51.217980   6.270472
1780230        2018          2043   solar  0.00180  53.650304  12.313511
1780231        2018          2043   solar  0.01980  49.522844  10.206178
1780232        2018          2043   solar  0.00976  52.293092  13.694022
1780233        2018          2043   solar  0.00704  48.681239   8.879750

[1780234 rows x 6 columns]

In [50]:
data.carrier.value_counts()

solar         1751441
onwind          27488
offwind-dc        653
offwind-ac        652
Name: carrier, dtype: int64

In [51]:
df2=pd.read_csv('data/renewable_power_plants_DE_2019.csv')
df2

,electrical_capacity,energy_source_level_1,energy_source_level_2,energy_source_level_3,technology,data_source,nuts_1_region,nuts_2_region,nuts_3_region,lon,...,postcode,address,federal_state,commissioning_date,decommissioning_date,voltage_level,eeg_id,dso,dso_id,tso
0,0.086940,Renewable energy,Solar,NaN,Photovoltaics,BNetzA_PV,DE2,DE26,DE268,10.332874,...,97346.0,Dr.-Ruppert-Schneider-Straße 5,Bayern,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1,0.006000,Renewable energy,Solar,NaN,Photovoltaics,50Hertz,DED,DED4,DED43,13.043342,...,4736.0,NaN,Sachsen,2019-01-01,NaN,low voltage,NaN,Mitteldeutsche Netzgesellschaft Strom mbH,10001645.0,50Hertz
2,0.007470,Renewable energy,Solar,NaN,Photovoltaics,BNetzA_PV,DE2,DE23,DE235,12.391779,...,93194.0,NaN,Bayern,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN
3,0.009720,Renewable energy,Solar,NaN,Photovoltaics,BNetzA_PV,DE1,DE11,DE11B,9.574454,...,97953.0,NaN,Baden-Württemberg,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN
4,0.009990,Renewable energy,Solar,NaN,Photovoltaics,BNetzA_PV,DE1,DE12,DE127,9.480866,...,74736.0,NaN,Baden-Württemberg,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92574,0.009920,Renewable energy,Solar,NaN,Photovoltaics,TransnetBW,DE1,DE11,DE11D,10.113042,...,73433.0,NaN,Baden-Württemberg,2019-12-31,NaN,low voltage,NaN,Stadtwerke Aalen GmbH,10001635.0,TransnetBW
92575,0.009750,Renewable energy,Solar,NaN,Photovoltaics,TenneT,DE2,DE26,DE26C,10.019952,...,97230.0,NaN,Brandenburg,2019-12-31,NaN,low voltage,NaN,Mainfranken Netze GmbH,10003071.0,TenneT
92576,0.006500,Renewable energy,Solar,NaN,Photovoltaics,TenneT,DE7,DE73,DE736,9.109868,...,34471.0,NaN,Hamburg,2019-12-31,NaN,low voltage,NaN,Energie Waldeck-Frankenberg GmbH,10000523.0,TenneT
92577,0.009800,Renewable energy,Solar,NaN,Photovoltaics,TenneT,DE7,DE71,DE719,9.382804,...,63628.0,NaN,Hamburg,2019-12-31,NaN,low voltage,NaN,OsthessenNetz GmbH,10001747.0,TenneT
92578,0.009975,Renewable energy,Solar,NaN,Photovoltaics,TransnetBW,DE1,DE13,DE134,7.943583,...,77960.0,NaN,Baden-Württemberg,2019-12-31,NaN,low voltage,NaN,Überlandwerk Mittelbaden GmbH & Co. KG,10001904.0,TransnetBW

In [52]:
df2=df2[['commissioning_date','decommissioning_date','technology','electrical_capacity','lat','lon']]
df2.columns=['year_added','year_removed','carrier','p_nom','latitude','longitude']
df2.carrier=df2.carrier.replace('Photovoltaics', 'solar')
df2.carrier=df2.carrier.replace('Onshore', 'onwind')
df2.carrier=df2.carrier.replace('Photovoltaics ground', 'solar')
df2.carrier=df2.carrier.replace('Run-of-river', 'ror')
df2.carrier=df2.carrier.replace('Sewage and landfill gas', 'biomass')
df2.carrier=df2.carrier.replace('Biomass and biogas', 'biomass')
df2.drop(df2[df2.carrier == 'biomass' ].index, inplace=True)

In [53]:
df2

       year_added  year_removed carrier     p_nom   latitude  longitude
0      2019-01-01           NaN   solar  0.086940  49.655942  10.332874
1      2019-01-01           NaN   solar  0.006000  51.072527  13.043342
2      2019-01-01           NaN   solar  0.007470  49.198889  12.391779
3      2019-01-01           NaN   solar  0.009720  49.598032   9.574454
4      2019-01-01           NaN   solar  0.009990  49.613507   9.480866
...           ...           ...     ...       ...        ...        ...
92574  2019-12-31           NaN   solar  0.009920  48.867734  10.113042
92575  2019-12-31           NaN   solar  0.009750  49.821914  10.019952
92576  2019-12-31           NaN   solar  0.006500  51.410735   9.109868
92577  2019-12-31           NaN   solar  0.009800  50.275753   9.382804
92578  2019-12-31           NaN   solar  0.009975  48.303988   7.943583

[92435 rows x 6 columns]

In [54]:
# Correct offiwnd
a_19=df2[df2.carrier=='Offshore']
vals=pd.DataFrame({'lat_vals':a.latitude.unique()})
vals.drop(vals[np.isnan(vals.lat_vals) ==True].index, inplace=True)
a_19.latitude[np.isnan(a_19.latitude)]=vals.mean()[0]

vals=pd.DataFrame({'long_vals':a.longitude.unique()})
vals.drop(vals[np.isnan(vals.long_vals) ==True].index, inplace=True)

a_19.longitude[np.isnan(a_19.longitude)] = np.random.choice(vals.long_vals,
            size=len(a_19.longitude[np.isnan(a_19.longitude)]))
j=0
for i in a_19.index:
    if a_19.carrier[i] == 'Offshore':
        j=j+1
        if j % 2 ==0:
            a_19.carrier[i]=('offwind-ac')
        else:
            a_19.carrier[i]=('offwind-dc')

for i in a_19.index:
    df2.loc[i,'carrier']=a_19.loc[i,'carrier']
    df2.loc[i,'latitude']=a_19.loc[i,'latitude']
    df2.loc[i,'longitude']=a_19.loc[i,'longitude']
    

df2.drop(df2[np.isnan(df2.longitude) ==True].index, inplace=True)
df2.drop(df2[np.isnan(df2.latitude) ==True].index, inplace=True)
df2.drop(df2[np.isnan(df2.p_nom) ==True].index, inplace=True)
df2.drop(df2[df2.carrier == 'ror' ].index, inplace=True)
df2.drop(df2[df2.carrier == 'Geothermal' ].index, inplace=True)


df2.index=range(len(df2))

year_added=[]
year_removed=[]
for i in range(len(df2)):
    year_added.append( int(df2[df2.columns[0]][i][:4]) )
    year_removed.append( int(df2[df2.columns[0]][i][:4]) +25)

df2.year_added=year_added
df2.year_removed=year_removed

In [55]:
df2

       year_added  year_removed carrier     p_nom   latitude  longitude
0            2019          2044   solar  0.086940  49.655942  10.332874
1            2019          2044   solar  0.006000  51.072527  13.043342
2            2019          2044   solar  0.007470  49.198889  12.391779
3            2019          2044   solar  0.009720  49.598032   9.574454
4            2019          2044   solar  0.009990  49.613507   9.480866
...           ...           ...     ...       ...        ...        ...
92317        2019          2044   solar  0.009920  48.867734  10.113042
92318        2019          2044   solar  0.009750  49.821914  10.019952
92319        2019          2044   solar  0.006500  51.410735   9.109868
92320        2019          2044   solar  0.009800  50.275753   9.382804
92321        2019          2044   solar  0.009975  48.303988   7.943583

[92322 rows x 6 columns]

In [56]:
data=pd.concat([data,df2])
data.index=range(len(data))
data

         year_added  year_removed carrier     p_nom   latitude  longitude
0              1995          2020   solar  0.001290  49.277654   7.036675
1              1995          2020   solar  0.008800  52.651042  13.708159
2              1995          2020   solar  0.002600  50.742935  11.342881
3              1995          2020  onwind  0.080000  53.127583  12.132579
4              1995          2020   solar  0.003960  48.793771   9.528908
...             ...           ...     ...       ...        ...        ...
1872551        2019          2044   solar  0.009920  48.867734  10.113042
1872552        2019          2044   solar  0.009750  49.821914  10.019952
1872553        2019          2044   solar  0.006500  51.410735   9.109868
1872554        2019          2044   solar  0.009800  50.275753   9.382804
1872555        2019          2044   solar  0.009975  48.303988   7.943583

[1872556 rows x 6 columns]

In [59]:
#25 minurtos y no termino.
import Model_Code.utils as ut
from math import pi
"""" Mapping """
data['bus']=data.latitude*0
a=n.buses[['x','y']]
a['bus']=a.index
a.index=range(len(a))
a.y*=pi/180
a.x*=pi/180
data.longitude*=pi/180
data.latitude*=pi/180
""""""

data['bus'] = ut.calculate_nearest_bus(data, a, n)

KeyboardInterrupt:

In [69]:
import numpy as np
import pandas as pd

def calculate_nearest_bus3(data, a, n):
    """
    Optimized function to calculate the nearest bus for each entry in `data` using vectorized Haversine formula.

    Parameters:
    - data : DataFrame
        Contains 'latitude' and 'longitude' columns (in degrees).
    - a : DataFrame
        Contains 'x', 'y', and 'bus' columns with bus coordinates (in degrees).
    - n : Network
        Network object to filter out only relevant buses for the given carrier.

    Returns:
    - pd.Series with the nearest bus for each location.
    """

    R = 6371  # Earth radius in km
    
    # Convert coordinates to NumPy arrays (convert to radians)
    lat1 = np.radians(data.latitude.values).reshape(-1, 1)  # Shape (N, 1)
    lon1 = np.radians(data.longitude.values).reshape(-1, 1)  # Shape (N, 1)

    lat2 = np.radians(a.y.values).reshape(1, -1)  # Shape (1, M)
    lon2 = np.radians(a.x.values).reshape(1, -1)  # Shape (1, M)

    # Compute Haversine distance matrix (vectorized)
    sin_lat1, sin_lat2 = np.sin(lat1), np.sin(lat2)
    cos_lat1, cos_lat2 = np.cos(lat1), np.cos(lat2)
    cos_lon_diff = np.cos(lon1 - lon2)

    distances = np.arccos(sin_lat1 * sin_lat2 + cos_lat1 * cos_lat2 * cos_lon_diff) * R

    # Convert distances to Pandas DataFrame
    distance_df = pd.DataFrame(distances, index=data.index, columns=a.bus.values)

    # Para cada planta, obtener solo los buses relevantes según su carrier
    nearest_buses = []
    for idx, carrier in data.carrier.iteritems():
        wanted_buses = n.generators.bus[n.generators.carrier == carrier].unique()  # Filtrar buses por carrier
        filtered_distances = distance_df.loc[idx, wanted_buses]  # Considerar solo buses relevantes
        nearest_buses.append(filtered_distances.idxmin())  # Asignar el bus con menor distancia

    return pd.Series(nearest_buses, index=data.index)

In [67]:
data.bus.value_counts()

DE0 1    1872556
Name: bus, dtype: int64

In [70]:
import Model_Code.utils as ut
from math import pi
"""" Mapping """
data['bus']=data.latitude*0
a=n.buses[['x','y']]
a['bus']=a.index
a.index=range(len(a))
a.y*=pi/180
a.x*=pi/180
data.longitude*=pi/180
data.latitude*=pi/180
data['bus'] = calculate_nearest_bus3(data, a, n)

In [72]:
data.bus.value_counts()

DE0 1    1871151
DE0 9       1405
Name: bus, dtype: int64

In [83]:
data[5000:10000]

,year_added,year_removed,carrier,p_nom,latitude,longitude,bus
5000,1998,2023,solar,0.00198,1.486592e-09,3.803950e-10,DE0 1
5001,1998,2023,solar,0.00192,1.398580e-09,2.399838e-10,DE0 1
5002,1998,2023,solar,0.00198,1.406946e-09,2.788361e-10,DE0 1
5003,1998,2023,solar,0.00216,1.449991e-09,1.927199e-10,DE0 1
5004,1998,2023,onwind,0.50000,1.496216e-09,3.118710e-10,DE0 1
...,...,...,...,...,...,...,...
9995,1999,2024,solar,0.00210,1.503157e-09,2.431966e-10,DE0 1
9996,1999,2024,solar,0.00252,1.394563e-09,2.076231e-10,DE0 1
9997,1999,2024,solar,0.00120,1.433340e-09,1.743611e-10,DE0 1
9998,1999,2024,onwind,1.65000,1.526081e-09,2.779290e-10,DE0 1
9999,1999,2024,onwind,1.65000,1.526081e-09,2.779290e-10,DE0 1

In [76]:
a

           x         y    bus
0   0.158063  0.849952  DE0 1
1   0.194305  0.855564  DE0 2
2   0.234230  0.917825  DE0 4
3   0.152716  0.877590  DE0 7
4   0.225580  0.941780  DE0 8
5   0.156716  0.919702  DE0 9
6   0.129602  0.897185  DE0 A
7   0.129283  0.871378  DE0 B
8   0.122029  0.862271  DE0 C
9   0.233858  0.892905  DE0 D
10  0.208310  0.905043  DE0 E
11  0.169120  0.938968  DE0 F
12  0.200476  0.886619  DE0 G

## Res biomas

In [9]:
import pandas as pd
data = pd.read_csv('data/renewable_power_plants_DE_bio.csv')
data = data[['commissioning_date', 'decommissioning_date',
                'technology', 'electrical_capacity', 'lat', 'lon', 'postcode']]
data.columns = ['year_added', 'year_removed',
                'carrier', 'p_nom', 'latitude',
                'longitude', 'postcode']
data.carrier = data.carrier.replace('Sewage and landfill gas', 'biomass')
data.carrier = data.carrier.replace('Biomass and biogas', 'biomass')
data.drop(data[data.carrier != 'biomass'].index, inplace=True)
data.index = range(len(data))

In [5]:
data

,year_added,year_removed,carrier,p_nom,latitude,longitude,postcode
0,1900-01-02,NaN,biomass,0.080,48.292429,8.578018,78727.0
1,1905-06-27,NaN,biomass,1.053,48.843981,10.637540,86733.0
2,1911-01-01,NaN,biomass,0.500,48.958223,9.119153,74321.0
3,1966-09-01,NaN,biomass,28.000,49.533744,8.495851,68305.0
4,1969-01-01,NaN,biomass,19.470,49.972251,9.051289,63811.0
...,...,...,...,...,...,...,...
14673,2019-11-14,NaN,biomass,0.099,52.013579,7.182540,48720.0
14674,2019-12-12,NaN,biomass,0.140,48.128224,8.324846,78112.0
14675,2019-12-15,NaN,biomass,0.050,49.011974,12.806920,94379.0
14676,2019-12-17,NaN,biomass,0.075,51.951513,6.847469,46354.0
14677,2019-12-23,NaN,biomass,0.150,47.795409,9.699304,88281.0

In [9]:
import numpy as np
year_added = []
year_removed = []
for i in range(len(data)):
    year_added.append(int(data[data.columns[0]][i][:4]))
    year_removed.append(int(data[data.columns[0]][i][:4]) + 30)

data.year_added = year_added
data.year_removed = year_removed

data.drop(data[data.year_added < 1989].index, inplace=True)
data.drop(data[data.year_added > 2020].index, inplace=True)

data.drop(data[np.isnan(data.longitude) == True].index, inplace=True)
data.drop(data[np.isnan(data.latitude) == True].index, inplace=True)
data.drop(data[np.isnan(data.p_nom) == True].index, inplace=True)
data.drop(data[np.isnan(data.postcode) == True].index, inplace=True)

data['bus'] = 0

In [10]:
data

,year_added,year_removed,carrier,p_nom,latitude,longitude,postcode,bus
24,1989,2019,biomass,1.600,53.821017,10.641693,23560.0,0
25,1989,2019,biomass,0.600,53.821017,10.641693,23560.0,0
26,1989,2019,biomass,0.120,48.520552,8.066034,77704.0,0
27,1989,2019,biomass,1.300,54.056257,10.310818,23824.0,0
28,1989,2019,biomass,0.200,51.623072,7.635920,59192.0,0
...,...,...,...,...,...,...,...,...
14673,2019,2049,biomass,0.099,52.013579,7.182540,48720.0,0
14674,2019,2049,biomass,0.140,48.128224,8.324846,78112.0,0
14675,2019,2049,biomass,0.050,49.011974,12.806920,94379.0,0
14676,2019,2049,biomass,0.075,51.951513,6.847469,46354.0,0
14677,2019,2049,biomass,0.150,47.795409,9.699304,88281.0,0

In [12]:
import os
nuts_plz = pd.read_csv(os.path.join("data", "plz_nuts3.csv"),sep=';')

In [15]:
nuts_plz

        NUTS3     CODE
0     'DEB15'  '55774'
1     'DE949'  '49777'
2     'DEB15'  '55626'
3     'DEA2B'  '51465'
4     'DE949'  '49744'
...       ...      ...
8327  'DEA1A'  '42399'
8328  'DEA35'  '48301'
8329  'DEB12'  '56656'
8330  'DE212'  '81248'
8331  'DEB33'  '79829'

[8332 rows x 2 columns]